@model e_commerceProj.Models.Cart

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<div>
    <label>Id</label>
    <label>@Model.Id</label>
</div>
<div>
    <label>Total</label>
    <label>£@Model.Total.ToString("0.00")</label>
</div>
<div>
    <label>Discont Code</label>
    <label>@Model.CodeDiscount.ToString("0.00")</label>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CartProducts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
